@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&display=swap');

html{
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: #002b3c;
    background-image: url("topography.svg");
    background-blend-mode: color-burn;
}

body{
    height: 100%;
    margin: 0;
    background-color: transparent;
    display: flex;
    font-family: "Lexend", sans-serif;
}

.main{
    width: 100%;
    height: max-content;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

@media (max-width: 800px) {
    .main{
        width: 100%;
        height: max-content;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }
}

.masthead{
    height: max-content;
    width: max-content;
    display: flex;
    align-content: center;
    justify-content: center;
    color: #ffd;
}


.container{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 1s linear;
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin: 0.2rem;
}

.wordmark{
    text-align: center;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.hide {
    display: none;
    pointer-events: none;
}

@keyframes shrinkFade {
    0% {
        transform: scale(1);
        opacity: 1;
        pointer-events: all;
    }
    99% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(0);
        opacity: 0;
        display: none;
        pointer-events: None;
    }
}

.collapsed{
    animation: shrinkFade 0.4s forwards;
}

.transparent-input {
    padding: 0.1rem;
    width: 100%; /* Set a specific width */
    border: none; /* Remove default border */
    background-color: transparent; /* Transparent background */
    color: #aa8; /* Text color */
    font-size: 1rem; /* Font size */
    outline: none; /* Remove outline on focus */
    min-width: 20rem;
}

/* Add a subtle focus effect */
.transparent-input:focus {
    border-bottom: 2px solid #4CAF50; /* Underline effect on focus */
}

.transparent-input::placeholder {
    color: #aa8; /* Placeholder text color */
}

.input-wrapper option {
    background-color: #212a40; /* Match background color of options with the dropdown */
    border: none;
}

select::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    background-color: #ffffff;
}

select::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Green color for scrollbar thumb */
    border-radius: 0.2rem; /* Rounded corners for scrollbar thumb */
}

select::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 200, 0.1); /* Light gray for the scrollbar track */
    border-radius: 6px; /* Rounded corners for scrollbar track */
}

.input-wrapper{
    border-radius: 0.2rem;
    margin: 0.5rem;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: rgba(255, 255, 200, 0.2) solid 1px;
}

.input-wrapper:hover{
    border: rgba(255, 255, 200, 0.5) solid 1px;
}

.input-wrapper .label{
    font-size: 0.8rem;
}

input{
    font-family: "Lexend", sans-serif;
}

.gender_btn_wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.radio_btn{
    border: rgba(255, 255, 200, 0.2) solid 1px;
    width: 50%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    min-height: 2rem;
    margin: 0.1rem;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
}

.radio_btn:hover{
    border-color: #4CAF50;
}

.radio_btn.selected{
    border-color: #1a802d;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Hide the default radio button */
input[type="radio"] {
    display: none;
}

/* Custom radio button style */
.custom-radio {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s ease;
}

/* Checkmark that appears when the radio button is selected */
.custom-radio::after {
    content: '';
    width: 0.3rem;
    height: 0.5rem;
    border: solid #ffd;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg) translateX(-0.08rem) translateY(0.05rem);
    position: absolute;
    top: 3px;
    left: 6px;
    display: none;
}

/* Style the radio button when checked */
input[type="radio"]:checked + .custom-radio {
    background-color: #4CAF50;
}

/* Show checkmark when radio is selected */
input[type="radio"]:checked + .custom-radio::after {
    display: block;
}


select{
    font-family: "Lexend", sans-serif;
}

.button{
    width: 100%; /* Make the button full width */
    padding: 1rem; /* Padding for better touch target */
    margin: 0.2rem;
    border: none; /* Remove default border */
    border-radius: 0.2rem; /* Rounded corners */
    font-size: 1rem; /* Font size */
    font-weight: 700;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth background transition */
}

.button.primary {
    background-color: #4CAF50; /* Green background color */
    color: white; /* Text color */
}

.button.primary:hover{
    background-color: #1a802d; /* Darker green on hover */
}

.button.primary:focus{
    outline: none;
}

.button.secondary {
    background-color: transparent;
    color: #ffd; 
    border: rgba(255, 255, 200, 0.1) solid 1px;
}

.button.secondary:hover{
    background-color: rgba(255, 255, 200, 0.2); /* Darker green on hover */
}

.button.secondary:focus{
    outline: none;
}

.laso{
    align-content: center;
    justify-content: center;
    color: #ffd;
}

#chart {
    font-family: "Archivo Narrow", sans-serif;
    font-style: normal;
    font-size: 0.9em;
    cursor: grab;
}

.bold{
    font-weight: bold;
}

.small{
    font-size: 0.75em;
}

.title{
    font-size: 2em !important;
    font-weight: 300;
}

.grabbing {
    cursor: grabbing !important; /* Apply grabbing cursor during drag */
}

.hanhKim {
    fill: #9E9E9E;
}

.hanhMoc {
    fill: #009b05;
}

.hanhThuy {
    font-weight: bold;
}

.hanhHoa {
    fill: #a20500;
}

.hanhTho {
    fill: #c4c400;
}