<!DOCTYPE html>
<html>

{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lá số tử vi</title>
    <link href="{% static "style.css" %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.15/jsrender.min.js" integrity="sha512-6heofwTnm0osmeEuz47jQLMVpAe2/ww+hZ4xvyv/kgedYO0b9mhNnsh8nUQZrmcdbaDkxrN+1K4SV6L+V4EH6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Include jQuery UI CSS -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Include jQuery UI JavaScript -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
</head>

<body>
    <div class="main">
        <div class="masthead">
            <div class="container" id="form-container">
                <h1 class="wordmark">
                    Thông tin lá số
                </h1>
                <div class="formborder">
                    <form id="lstv">
                        <div class="input-wrapper">
                            <div class="label">Họ và tên</div>
                            <input type="text" name="hoten" id="hoten" placeholder="Lá số tử vi" class="transparent-input">
                        </div>
                        <div class="input-wrapper">
                            <div class="label">Giới tính</div>
                            <div class="gender_btn_wrapper">
                                <label class="radio_btn selected">
                                    <label for="male">Nam</label>
                                    <input type="radio" id="male" name="gioitinh" value="nam" onclick="selectRadio(this)" checked>
                                    <span class="custom-radio"></span>
                                </label>
                                <label class="radio_btn">
                                    <label for="female">Nữ</label>
                                    <input type="radio" id="female" name="gioitinh" value="nu" onclick="selectRadio(this)">
                                    <span class="custom-radio"></span>
                                </label>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <div class="label">Ngày tháng năm sinh</div>
                            <input type="text" id="date-picker" name="date" class="transparent-input" placeholder="DD/MM/YYYY">
                        </div>
                        <div class="input-wrapper">
                            <div>
                                <div class="label">Chọn lịch</div>
                                <select name="amLich" required class="transparent-input">
                                    <option value="off">Dương Lịch</option>
                                    <option value="on">Âm Lịch</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <div class="label">
                                Giờ sinh
                            </div>
                            <select name="giosinh" id="giosinh" required class="transparent-input">
                                <option value="1">Tí  (23h - 1h)</option>
                                <option value="2">Sửu (1h - 3h)</option>
                                <option value="3">Dần (3h - 5h)</option>
                                <option value="4">Mão (5h - 7h)</option>
                                <option value="5">Thìn (7h - 9h)</option>
                                <option value="6">Tị (9h - 11h)</option>
                                <option value="7">Ngọ (11h - 13h)</option>
                                <option value="8">Mùi (13h - 15h)</option>
                                <option value="9">Thân (15h - 17h)</option>
                                <option value="10">Dậu (17h - 19h)</option>
                                <option value="11">Tuất (19h - 21h)</option>
                                <option value="12">Hợi (21h - 23h)</option>
                            </select>
                        </div>
                        <div class="input-wrapper">
                            <div class="label">Múi giờ</div>
                            <select name="muigio" id="muigio" class="transparent-input">
                                <option value="-12">-12</option>
                                <option value="-11">-11</option>
                                <option value="-10">-10</option>
                                <option value="-9">-9</option>
                                <option value="-8">-8</option>
                                <option value="-7">-7</option>
                                <option value="-6">-6</option>
                                <option value="-5">-5</option>
                                <option value="-4">-4</option>
                                <option value="-3">-3</option>
                                <option value="-2">-2</option>
                                <option value="-1">-1</option>
                                <option value="0">0</option>
                                <option value="1">+1</option>
                                <option value="2">+2</option>
                                <option value="3">+3</option>
                                <option value="4">+4</option>
                                <option value="5">+5</option>
                                <option value="6">+6</option>
                                <option value="7" selected>+7 (Vietnam)</option>
                                <option value="8">+8</option>
                                <option value="9">+9</option>
                                <option value="10">+10</option>
                                <option value="11">+11</option>
                            </select>
                        </div>
                        <div class="input-wrapper">
                            <div class="label">Năm xem</div>
                            <select id="namxem" name="namxem" class="transparent-input"></select>
                        </div>
                        <div>
                            <input type="button" class="button primary" value="Lập lá số" id="laplaso" onclick="toggle()">
                        </div>
                    </form>
                </div>
            </div>
        </div>       

        <div class="laso hide main" id="laso">
            <div class="laso_panel container">
                <h3 class="wordmark">Tùy chỉnh lá số</h3>
                <input type="button" class="button secondary" value="Thay đổi thông tin" onclick="toggle()">
            </div>
            <div class="chart-container container">
                <h3 class="wordmark">Lá số</h3>
                <button id="resetButton">🏠</button>
                <div id="chart"></div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="{% static "lasotuvi.js" %}"></script>
</footer>
</html>